.main-content {
 background-image: url("https://i.imgur.com/crzXSLL.png");
 background-position: center;
 background-size: cover;
}

div, h1, h2, h3, h4, h5, span, p {
  color: #fffffe;
  font-family: Roboto;
}


.footer {
  bottom: 0;
}
.logo-txt {
  font-family: 'Sarina';
  color: #FF007A;
  font-size: 18rem;
}

.idea-txt {
}

.future-txt {
  font-weight: 900;
  font-size: 14rem;
}


/** BANNER **/
/** EXPERIMENTAL **/
.top-banners {
  text-transform:uppercase;
  color: white;
  border-top: 2px solid #fffffe;
  border-bottom: 2px solid #fffffe;
  font-size:1rem;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 50s infinite linear;
  padding-left: 100%; /*Initial offset, which places the text off-screen*/
}

@keyframes floatText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.footer-tag:hover, .top-banners:hover  {
  animation-play-state: paused;
}

.top-banners, .bottom-banners {
  border: none;
}


.bottom-banners {
  text-transform:uppercase;
  color: #FFFFFE;
  font-size:1rem;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  animation: RightText 30s infinite linear;
  padding-right: 20%; /*Initial offset, which places the text off-screen*/
}

@keyframes RightText {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.footer-tag:hover, .top-banners:hover  {
  animation-play-state: paused;
}


.footer-tag {
  text-transform:uppercase;
  color: white;
  border-top: 2px solid #fffffe;
  border-bottom: 2px solid #fffffe;
  font-size:1rem;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 50s infinite linear;
}

@keyframes floatText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.paragraph {
 width: 316px;
}
